@import url('./global.css');

::backdrop {
    background-color: rgb(0,0,0,0.5);
}
#navigation-bar {
    background-color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
    display: block;
    margin-left: auto;
    height: 100dvh;
    width: 100%;
    max-width: 425px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform 300ms;
    -webkit-transition: -webkit-transform 300ms;

    &>button {
        padding: 10px;
        border-radius: 50%;
        border: 1px solid var(--brown);
        float: inline-end;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & a {
        display: inline-block;
        width: 100%;
        padding-block: 15px;
        margin-block: 10px;
        text-decoration: none;
    }

    & nav a {
        font-size: 1.2em;
    }

    & > .signup-login a{
        border-radius: 5px;
        text-align: center;
        color: #fff;
        background-color: var(--brown);
    }
    & nav a:hover {
        text-decoration: underline;
        color: var(--brown);
    }
}
.pseudo-btn {
    width: fit-content;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-inline: auto;
    margin-block: 30px;
    color: #fff;
    background-color: var(--brown);
}
#navigation-bar[open] {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

header {
    justify-content: space-between;
    padding: 10px;

    & .logo {
        font-size: 18px;
    }

    & .logo img {
        height: 30px;
        margin-right: 5px;
        object-fit: cover;
    }

    &>button {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        border-radius: 50%;
    }
}
.gradient-bg {
    background: linear-gradient(to bottom, var(--white), var(--brown) 50%, var(--white), #fff);
}
.heros {
    text-align: center;
    font-size: 18px;
    padding-inline: 5vw;
    margin-bottom: 8vh;

    & h1 {
        font-size: 3em;
        margin-bottom: 1rem;
    }

    & p {
        font-size: calc(3em / (1.75 * 1.618));
        margin-bottom: 1.618rem;
    }

    & img {
        width: 100%;
    }
}
.main-image {
    /* mask-image: url('../img/mask.svg'); */
    
}

.paw-connector-container {
    justify-content: space-between;
    padding-inline: 50px;
}

.paw-connector {
    width: 10vw;

    &:nth-of-type(1) {
        transform: rotate(25deg);
        -webkit-transform: rotate(25deg);
    }

    &:nth-of-type(2) {
        transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
    }

    & img {
        display: block;
        width: 40px;
        margin-block: 20px;
        margin-inline: auto;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
}

.featured-success-stories {
    padding-inline: 1.5vw;
    margin-block: 10vh;
}

.stories-container {
    gap: 20px;
}
.story {
    width: 40vh;
    max-width: 320px;
    padding: 10px 10px 20px 10px;
    border: 1.5px solid grey;
    border-radius: 12px;

    & img {
        width: 100%;
        border-radius: 2.5px 2.5px 0 0;
    }

    & figcaption h3 {
        margin: 10px 0 8px 0;
    }

    & figcaption p {
        margin: 0;
        margin-bottom: 10px;
    }

    & figcaption a {
        display: inline-block;
        margin-top: 10px;
    }
}

.how-it-works {
    padding-inline: 1.5vw;
    margin-bottom: 20svh;
}

.step {
    display: flex;
    margin-block-end: 10vh;

    &:nth-of-type(odd) {
        text-align: start;

        & .step-no {
            margin-right: 15px;
        }
    }

    &:nth-of-type(even) {
        text-align: end;
        justify-content: flex-end;

        & .step-no {
            margin-left: 15px;
        }
    }

    & .step-no {
        font-size: calc(1em * 1.618 * 2);
        font-weight: 900;
        color: rgb(0,0,0,0.3);
    }

    & .step-content h3 {
        margin-top: 0;
    }
}

.blog-section-prelude {
    text-align: center;
    margin-bottom: 40svh;
}

footer {
    text-align: center;
    background-color: var(--brown);
    color: #fff;
    padding-block: 5vh 3.5vh;

    & hr {
        width: 1px;
        height: 15px;
        border: 1.5px solid grey;
        display: inline;
        margin-inline: 10px;
    }
}